body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    height: 500px;
}

.container p{
    text-align: center;
    font-size: 100px;
}

.Carregamento {
    position: relative;
    left: 46%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: #1900ff;
    border-bottom-color: #1900ff;
    animation: girar 2s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}